[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
crispy-tailwind = "*"
gunicorn = "*"
uvicorn = "*"
dj-database-url = "*"
whitenoise = {extras = ["brotli"], version = "*"}
psycopg = {extras = ["binary"], version = "*"}
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
